*.sw?
*.o
clients/c/melian-client
server/melian-server
Makefile
/autom4te.cache/
/config.log
/config.status
/depcomp
/stamp-h1
clients/c/.deps/
clients/c/.dirstamp
configure~
melian-client
melian-server
server/.deps/
server/.dirstamp
