*.sw?
*.o
clients/c/melian-client
server/melian-server
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.log
/config.status
/depcomp
/install-sh
/missing
/stamp-h1
clients/c/.deps/
clients/c/.dirstamp
configure~
melian-client
melian-server
server/.deps/
server/.dirstamp
